<article>

  <img src="<%= book.image_url %>">

  <h3><%= book.title %></h3>

  <h3><%= book.author %></h3>

  <p><%= book.description %></p>

  <p>ISBN Number: <%= book.isbn %>  </p>

  <p>Bookshelf: <%= book.category %></p>

</article>                