<article class="book-shelf">
  <div class="book-sleeve">
    <img src="<%= book.image_url %>" class="book-image">
  </div>
  <div class="book-info">
    <h3>Title: <%= book.title %></h3>

    <h3>Author: <%= book.author %></h3>

    <!-- <div class="book-description">
      <h4>Synopsis:</h4>
      <p><%= book.description %></p>
    </div>

    <p><%= book.isbn %></p>

    <p>Bookshelf: <%= book.category %></p> -->
    <form action="/books/<%= book.id %>" method="POST">
      <button type="submit">View Details</button>
    </form>


  </div>
</article> 