<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main>
      <h3>Total books in library: <%= sqlResults.rowCount %></h3>
      <% sqlResults.rows.forEach( book => { %>
        <%- include('../pages/books/single-details', {book}) %>
      <% }); %>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>